*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #334d50; /* fallback for old browsers */
  background: -webkit-linear-gradient(335deg, #cbcaa5, #334d50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    335deg,
    #cbcaa5,
    #334d50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(335deg, #cbcaa5f9, #334d50dd),
    url('https://images.unsplash.com/photo-1489389944381-3471b5b30f04?ixlib=rb-0.3.5&s=1e0b70e942c97ac0f6a6679cf59df3c5&auto=format&fit=crop&w=1920&q=60'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;

  font: normal 16px/24px 'Open Sans', Arial, sans-serif;
  height: 100vh;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.card {
  align-items: center;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffffff, #ece9e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.3);
  color: #334d50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30em;
  padding: 3em;
  position: absolute;
  width: 50em;
}

.card h2 {
  font: 300 3em/1.5 'Open Sans';
  text-transform: uppercase;
}

.card h2 span {
  font-weight: 700;
  margin-bottom: 0;
}

.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  font: 300 1.5em/1.5 'Open Sans';
  margin-top: 0;
}

.contact > * {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}

.phone span {
  margin: 0.1em;
}

.phone span:last-child:before {
  content: '+';
}

.phone span:after,
.email span:after {
  content: attr(data-content);
}

.email span:nth-child(2):before {
  content: '@';
}

.email span:first-child:before {
  content: '.';
}
